header {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(223, 79, 79);
    border-radius: 20px;
    border: 5px double rgb(235, 176, 110);
}

header h1 {
    font-family: 'Roboto Mono', monospace;
    font-size: 50px;
}

header h2 {
    font-family: 'Roboto Mono', monospace;
    font-size: 30px;
}

.button-create {
    font-size: 30px;
    border: 3px solid rgb(235, 176, 110);
    font-family: 'Roboto', sans-serif;
    background-color: rgb(223, 79, 79);
    color: white;
    border-radius: 5px;
    padding: 5px;
}

.button-create:hover {
    border: 3px solid gray;
    cursor: pointer;
}

button {
    font-size: 25px;
    height: 100%;
}

a {
    padding: 10px;
}

.page {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: rgb(235, 176, 110);
    margin: 20px;
    border-radius: 10px;
    flex-wrap: wrap;
    width: 90%;
}

.type {
    background-color: rgb(65, 60, 60);
    margin: 10px;
    padding: 20px;
    border-radius: 10px;
    flex-wrap: wrap;
    display: flex;
    flex-direction: column;
    width: 90%;
    align-items: center;
    border: solid gray 10px;
    color: white;
    line-height: 100%;
    font-family: 'Roboto', sans-serif;
}

.type p {
    font-family: 'Roboto Mono', cursive;
}

h3 {
    font-size: 45px;
}

p {
    padding: 5px;
    font-size: 30px;
}

.stats {
    display: flex;
    background-color: rgb(65, 60, 60);
    flex-wrap: wrap;
    flex-direction: column;
    width: 90%;
    border-radius: 10px;
    align-items: center; 
    border: solid gray 10px;
    margin: 10px;
    justify-content: flex-start;
    padding: 20px;
}

h4 {
    display: flex;
    flex-wrap: wrap;
    color: white;
    width: 80%;
    padding: 0px 50px;
    font-size: 40px;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 10px;
}

h5 {
    line-height: 80%;
    padding: 0px 50px;
    display: flex;
    width: 80%;
    color: white;
    font-family: 'Roboto Mono', monospace;
    font-size: 20px;
}

img {
    border-radius: 10px;
    border: double gray 5px;
}